body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.logo img {
    width: 80px;
    height: 80px;
}

.text {
    font-size: 13px;
    font-weight: bold;
    margin: 0 20px;
}

.navigation ul {
    list-style: none;
    margin: auto;
    width: 90%;
    display: block;

}

.navigation ul li {
    margin-right: 10px;
    display: inline-block;
}

.navigation ul li a {
    color:black;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.navigation ul li a:hover{
    background-color: #45a049;

}
section {
    padding: 20px;
}

article {
    margin-bottom: 40px;
}
article {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    margin-top: -150px;
  }
  
  .gallery img {
    width: 300px;
    height: 250px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container {
    display: fixed;
    align-items: right;
    margin-right: 50px;
}

.button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    right: 20px;
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    align-items: center;

    margin: 20px 0;
}
.carousel-container {
    align-items: center;

    margin-top: -200px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: none;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-slide img {
    align-items: center;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.carousel-prev, .carousel-next {
    align-items: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.carousel-prev {
    left: 10px;
    align-items: center;

}

.carousel-next {
    right: 10px;
    align-items: center;

}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
audio {
    padding: 150px;

    position: relative;
    width: 300px;
    margin: 20px;
  }